.dice-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    column-gap: 2.5em;
    row-gap: 2.5em;

    max-width: 1000px;
}

.opponent-board {
    column-gap: 1.5em;
    row-gap: 1.5em;

    transform: scale(0.8);
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .dice-board {
        column-gap: 1em;
        row-gap: 1em;
    }
}

p {
    margin: 0 auto;
}
