.dice-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    column-gap: 2.5em;
    row-gap: 2.5em;

    width: 100%;
    max-width: 1000px;

    margin: 1em;
}

.opponent-board {
    column-gap: 1.5em;
    row-gap: 1.5em;

    transform: scale(0.8);
    margin: auto;
}

@media only screen and (max-width:700px) {
    .dice-board {
        grid-template-columns: repeat(3, 1fr);
    }
}

p {
    margin: 0 auto;
}