.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;

    margin: 2em 4em;
    padding: 2px;

    border-radius: 1em;
}

.main > * {
    margin: 16px auto;
}

.title {
    margin-top: 0;
    font-size: 5em;
}

.desc {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin: 4px auto;

    color: #4a4e74;
}

.dice-boards {
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin-top: 2em;

    width: 100%;
}

.player-board {
    text-align: center;
}

.player-header {
    font-size: 2em;
    margin: 8px auto;
}

.drop-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 950px) {
    .main {
        margin: 2px 4px;
    }
    .title {
        font-size: 2em;
    }

    .dice-boards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .player-header {
        font-size: 1em;
        margin: 0 auto;
    }
}

.p-auto {
    padding: auto;
}

/* button style */
.cool-button {
    position: relative;

    background-color: #5035ff;

    font-size: 3em;
    font-weight: 700;

    padding: 0.5em 0;
    width: 30%;

    border: none;
    border-radius: 8px;

    /* cursor: pointer; */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
}

.cool-button:after {
    content: '';
    background: #5f46ff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.cool-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

@import url('https://fonts.cdnfonts.com/css/optimus-princeps');
dialog.you-lost-popup {
    /* box */
    position: fixed;
    z-index: 99;
    top: 40%;
    width: 100%;

    /* text */
    text-align: center;
    font-family: 'Optimus Princeps';

    /* colors */
    background: none;
    color: black;

    /* effects */
    border: none;
    text-shadow: 0 0 1.2em orangered;

    /* animation */
    animation-name: you-lost-popup-anim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-play-state: running;
}

@keyframes you-lost-popup-anim {
    from {
        opacity: 0;
        font-size: 4em;
        text-shadow: 0 0 0.6em orange;
    }

    15% {
        opacity: 1;
        text-shadow: 0 0 1em orangered;
    }

    95% {
        opacity: 1;
    }

    to {
        font-size: 10em;
        opacity: 0;
    }
}
